//
//  Production.xcconfig
//  Castcle-iOS
//
//  Created by Tanakorn Phoochaliaw on 10/7/2564 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Settings
APP_ENV = PROD
BASE_URL = https:/$()/castcle.com

// Key
APP_CENTER_KEY = 20275f6f-d83d-420b-a91c-4a3eb8e5d304

// Static URL
PRIVACY_POLICY = https:/$()/documents.castcle.com/privacy-policy.html
USER_AGREEMENT = https:/$()/documents.castcle.com/terms-of-service.html
DOCS = https:/$()/docs.castcle.com/
JOIN_US = https:/$()/jobs.blognone.com/company/castcle
WHITEPAPER = https:/$()/documents.castcle.com/castcle-whitepaper-v1_2.pdf
ABOUT_US = https:/$()/documents.castcle.com/about-us.html
