//
//  Staging.xcconfig
//  Castcle-iOS
//
//  Created by Tanakorn Phoochaliaw on 10/7/2564 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Settings
APP_ENV = STG
BASE_URL = https:/$()/www.castcle.com

// Key
APP_CENTER_KEY = cf14e368-6536-4e3d-b069-6480867cefa7
