//
//  Staging.xcconfig
//  Castcle-iOS
//
//  Created by Tanakorn Phoochaliaw on 10/7/2564 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Settings
APP_ENV = STG
BASE_URL = https:/$()/www.castcle.com

// Key
APP_CENTER_KEY = cf14e368-6536-4e3d-b069-6480867cefa7

// Static URL
PRIVACY_POLICY = https:/$()/castcle-public.s3.amazonaws.com/documents/privacy-policy.html
USER_AGREEMENT = https:/$()/castcle-public.s3.amazonaws.com/documents/terms-of-service.html
DOCS = https:/$()/docs.castcle.com/
JOIN_US = https:/$()/jobs.blognone.com/company/castcle
WHITEPAPER = https:/$()/castcle-public.s3.amazonaws.com/documents/castcle-whitepaper-v1_2.pdf
ABOUT_US = https:/$()/castcle-public.s3.amazonaws.com/documents/about-us.html
