//
//  Test.xcconfig
//  Core
//
//  Created by Castcle Co., Ltd. on 13/12/2564 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Settings
APP_ENV = TEST
BASE_URL = https:/$()/api-staging.castcle.com

// Key
APP_CENTER_KEY = b659c24c-d60b-416b-9c68-e7978b2d862a

// Static URL
PRIVACY_POLICY = https:/$()/documents.castcle.com/privacy-policy.html
USER_AGREEMENT = https:/$()/documents.castcle.com/terms-of-service.html
DOCS = https:/$()/docs.castcle.com/
JOIN_US = https:/$()/jobs.blognone.com/company/castcle
WHITEPAPER = https:/$()/castcle.com/whitepaper.pdf
ABOUT_US = https:/$()/documents.castcle.com/about-us.html
